<!DOCTYPE html>
<html>
  <head>
    <title>Test Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Printing out database rows</h1>

    <table>
    	<thead>
    		<tr>
    			<th>ID</th>
    			<th>First Name</th>
    			<th>Last Name</th>
    		</tr>
    	</thead>
    	<tbody>
    		<% for(var i = 0; i < rows.length; i++) { %>
				<tr>
					<td><%= rows[i].id %></td>
					<td><%= rows[i].first_name %></td>
					<td><%= rows[i].last_name %></td>
				</tr>
    		<% } %>
    	</tbody>
    </table>
  </body>
</html>
